<!DOCTYPE html>
<html>
<head>
    <title>Formularz</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../static/form.css">

</head>
<body>
<h1>LSTM</h1>
<form method="POST" action="/">

    <div class="form-container">
        <div class="form-group">
            <label for="schedule">Harmonogram:</label>
            <select id="schedule">
                <option value="on-demand" selected>Na żądanie</option>
                <option value="hourly">Co godzinę</option>

            </select>
            <div> {{ image_filename.r2 }}</div>
            <div> {{ image_filename.rmse }}</div>
            <div> {{ image_filename.mape }}</div>
            <label for="command">Komenda:</label>
            <select name="command" id="command">
                <option value="learn">Learn</option>
                <option value="predict">Predict</option>
<!--                <option value="pred_stats">Pred Stats</option>-->
            </select>
            <br>
        </div>
<!--         <div class="form-group">-->
<!--                <label for="time-interval">Time Interval (in seconds):</label>-->
<!--                <input type="number" id="time-interval" placeholder="Enter time interval" required/>-->
<!--            </div>-->
        <div class="form-group">
            <button onclick="visualizations()" type="button">Wyświetl wyniki</button>
        </div>
    </div>


    </form>

    <div class="results">
        <div id="results-container"></div>

        <div id="chart-container"></div>

    </div>

    <script src="../static/results.js"></script>
    <script src="../static/data-handling.js"></script>

</body>
</html>
